.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 15px;
    color: #fff;
    position: relative;
    cursor: pointer;
}


.container span {
    position: absolute;
    top: -17px;
    right: -10px;
    background-color: #f00;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;

}

@media (max-width: 320px) {
    .container {
        margin: 10px;
    }

    .container span {
        top: -15px;
        right: -10px;
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    .container {
        margin: 10px;
    }

    .container span {
        top: -15px;
        right: -10px;
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
}

@media (max-width: 425px) {
    .container {
        margin: 10px;
    }

    .container span {
        top: -15px;
        right: -10px;
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
}